body{
    margin: auto;
}
header{
    background-color: rgb(245, 205, 230);
    text-align: center;
}
#error{
    color:red
}

#content{
    width:80%;
    margin-left: 10%;
}

.card{
    height:350px;
    width:100%;
    border:1px solid black;
    box-shadow: 10px 20px 10px gray;
    margin:4%;
    overflow: scroll;
    border-radius: 1%;
    display: flex;
}

.imgdiv{
    height:100%;
    width:40%;
   
}

.imgdiv img{
    padding: 10%;
    height:80%;
    width:80%;
}
.contentdiv{
    height:100%;
    width:55%
}